@font-face {
  font-family: "warbler-banner";
  src: url("./warbler-banner/WARBLERBANNER-BOLD-TESTING-BF674FD3863B486.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
    font-family: "tangerine";
    src: url("./tangerine/Tangerine-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family:"warbler-font-family-1759582272-0";
  src: url("./warbler-font-family-1759582272-0/WarblerBanner-Bold-Testing-BF674fd3863b486.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-warbler: "warbler-font-family-1759582272-0", sans-serif;
  --font-tangerine: "tangerine", cursive;
}
.ffinput::placeholder {
    color: rgb(108, 134, 110); 
    opacity: 1; 
  }
